body {
	background-color: aqua;
	margin: 0 auto;
	width: 800px;
}

.wrapper {
	background-color: yellow;
	display: flex;
	flex-flow: wrap;
	/*    border-radius: 54px;*/
	margin: 30vh auto;
	/*    overflow: hidden;*/
	width: 530px;
}

.trigger-box {
	background-color: transparent;
	height: 25%;
	left: 37vw;
	margin: 3px;
	position: absolute;
	top: 46vh;
	width: 25%;
	z-index: 100;
}

.trigger-box:hover ~ .red-box,
.trigger-box:hover ~ .blue-box,
.trigger-box:hover ~ .green-box {
	animation-play-state: running;
}


.green-box {
/*	animation-delay: .2s;*/
	animation-direction: alternate;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: grow-green;
	animation-play-state: paused;
	animation-timing-function: linear;
	background-color: green;
	height: 50px;
	margin: 28px;
	position: relative;
	width: 50px;

}

.red-box {

	animation-delay: 1s;
	animation-direction: alternate;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: grow;
	animation-play-state: paused;
	animation-timing-function: linear;
	/*	background: url('../img/gpig.png');*/

	background-color: red;

	/*    background-size: 100%;*/
	/*
	border-color: greenyellow;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
*/
	height: 50px;
	margin: 28px;
	position: relative;
	width: 50px;
}

.blue-box {
	animation-delay: 3s;
	animation-direction: alternate;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: grow2;
	animation-play-state: paused;
	animation-timing-function: linear;
	background-color: blue;
	height: 50px;
	margin: 28px;
	position: relative;
	width: 50px;
}


@keyframes grow-green {
	0% {
		transform: scale(1);
	}

	50% {

		transform: scale(1.8);
	}

	100% {

		transform: scale(1);
	}
}




@keyframes grow {
	0% {
		transform: scale(1);
	}

	50% {

		transform: scale(1.8);
	}

	100% {

		transform: scale(1);
	}
}

@keyframes grow2 {
	0% {
		transform: scale(1);
	}

	50% {

		transform: scale(1.8);
	}

	100% {

		transform: scale(1);
	}
}
